@charset "UTF-8";
/*version 1.0.1*/
html {
  color: #000000;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;
  font-family: "游ゴシック", YuGothic, Hiragino Sans, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro", Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  word-break: break-word;
  -webkit-text-size-adjust: 100%;
}
@media (max-width: 1024px) {
  html {
    font-size: 18px;
  }
}
@media (max-width: 599px) {
  html {
    font-size: 16px;
  }
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
div,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
form,
input,
button,
figure,
figcaption,
p,
pre,
a,
time {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  color: inherit;
  line-height: inherit;
}

svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-size: 100%;
  line-height: 1.15;
  font-family: inherit;
}

img,
video,
iframe {
  max-width: 100%;
  height: auto;
}

b,
strong {
  font-weight: bolder;
}

ol,
ul {
  list-style: none;
}

time {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  border-style: none;
  vertical-align: top;
}

img:not([src*="."]) {
  display: none;
}

button,
[role=button] {
  cursor: pointer;
  border: none;
}

table {
  border-collapse: collapse;
}

th {
  font-weight: normal;
}

.img img {
  text-align: center;
}

.map {
  position: relative;
  overflow: hidden;
}
.map:after {
  display: block;
  padding-top: 50%;
  content: "";
}
.map iframe {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-width: initial;
  height: 100%;
  margin: auto;
}

a,
button {
  color: inherit;
  text-decoration: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
a:hover,
button:hover {
  opacity: 0.6;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a[href*=tel],
button[href*=tel] {
  pointer-events: none;
}
@media (max-width: 1024px) {
  a[href*=tel],
button[href*=tel] {
    pointer-events: initial !important;
  }
}

.btn-cmn01 {
  position: relative;
  display: block;
  margin: 50px auto 0 auto;
  padding: 10px 20px;
  max-width: 250px;
  border-radius: 10px;
  background: #0d4987;
  color: #fff;
  text-align: center;
  font-size: 20px;
}
.btn-cmn01.-large {
  width: 100%;
  max-width: 400px;
}

.btn-cmn02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.btn-cmn02 a {
  display: block;
  position: relative;
  padding: 20px 20px;
  border-radius: 10px;
  background: #0d4987;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}
.btn-cmn02 a:before {
  display: block;
  font-size: 1.75rem;
  font-family: "Font Awesome 5 Free";
}
.btn-cmn02.-purchase a:before {
  content: "\f15b";
}
.btn-cmn02.-estimate a:before {
  content: "\f002";
}

/*フォーム*/
.form {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.form .block {
  margin-bottom: 50px;
}
.form .item01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 10px 0;
}
.form .list02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form .item02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  padding: 5px 0;
}
.form .datattl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 210px;
  padding-top: 5px;
  color: #0d4987;
  font-weight: bold;
  font-size: 20px;
}
.form .ttlin {
  display: inline-block;
}
.form .require {
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-top: 5px;
  margin-left: 10px;
  padding: 0 4px;
  background: #0d4987;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.6em;
}
.form .head {
  color: #0d4987;
  font-size: 1.2rem;
  font-weight: bold;
}
.form .input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid rgb(13, 73, 135);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form .input.-middle {
  max-width: 300px;
}
.form .input.-short {
  max-width: 150px;
}
.form .data {
  width: 100%;
  padding-left: 30px;
}
.form .data input[type=number] {
  width: 70px;
  margin-right: 10px;
}
.form .data textarea {
  width: 100%;
  height: 170px;
  padding: 5px;
  border: 1px solid #999999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
.form .data input:invalid {
  border: 2px solid rgb(13, 73, 135);
}
.form .data input[type=radio] {
  display: none;
}
.form .data input[type=radio] + label {
  position: relative;
  margin-right: 20px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 200%;
}
.form .data input[type=radio] + label::before {
  display: block;
  position: absolute;
  top: 4px;
  left: 0;
  width: 10px;
  height: 10px;
  border: 1px solid #303841;
  border-radius: 50%;
  -webkit-box-shadow: inset 1px 1px 0 1px #999999;
          box-shadow: inset 1px 1px 0 1px #999999;
  background: #ffffff;
  content: "";
}
.form .data input[type=radio]:checked + label::after {
  display: block;
  position: absolute;
  top: 7px;
  left: 3px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #303841;
  content: "";
}
.form .data input[type=radio]:checked + label {
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.form .data01 div {
  display: inline-block;
}
.form .block-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form .btn {
  width: 200px;
  margin: 10px 20px;
  text-align: center;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.form .btn button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.form .item03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.form .list04 {
  width: 100%;
  padding-left: 50px;
}
.form .item04 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.form .datattl04 {
  color: #0d4987;
  font-weight: bold;
  font-size: 20px;
  width: 220px;
  padding-top: 5px;
}
.form .data04 {
  width: 100%;
}
.form .data04 input[type=number] {
  width: 70px;
  margin-right: 10px;
}
.form .data04 textarea {
  width: 100%;
  height: 60px;
  padding: 5px;
  border: 1px solid #999999;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
.form .data04 input:invalid {
  border: 2px solid rgb(13, 73, 135);
}
@media only screen and (max-width: 1024px) {
  .form .item01 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form .item02 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form .datattl {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  .form .data {
    padding-left: 0;
  }
  .form .item03 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form .list04 {
    padding-left: 0;
  }
}
@media only screen and (max-width: 599px) {
  .form .list02 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form .item02 {
    width: 100%;
  }
}

.list-form-confirm {
  margin-bottom: 50px;
}
.list-form-confirm .head {
  font-size: 1.1rem;
  color: #0d4987;
  font-weight: bold;
  margin-bottom: 10px;
}
.list-form-confirm .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
}
.list-form-confirm .datattl {
  width: 220px;
  background-color: #0d4987;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  margin-right: 10px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.list-form-confirm .data {
  padding: 5px;
  width: 100%;
  background-color: #eee;
}
.list-form-confirm .pic {
  max-height: 500px;
}
@media only screen and (max-width: 599px) {
  .list-form-confirm .item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .list-form-confirm .datattl {
    width: 100%;
  }
}

.tab-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tab-input {
  display: none;
}
.tab-input:checked + .tab-label {
  background: #004c88;
  color: #ffffff;
}
.tab-input:checked + .tab-label + .tab-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab-label {
  display: block;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  float: left;
  background-color: #e6e6e6;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  border-radius: 20px 20px 0 0;
  width: calc(50% - 10px);
}
@media only screen and (max-width: 599px) {
  .tab-label {
    width: 50%;
    padding: 5px;
    border-radius: 10px 10px 0 0;
  }
}

.tab-block {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  padding: 50px;
  border-top: 2px solid #004c88;
  -webkit-box-shadow: 0px 2px 3px #000;
          box-shadow: 0px 2px 3px #000;
  border-radius: 10px;
}
@media only screen and (max-width: 599px) {
  .tab-block {
    border-radius: 0px;
  }
}

.ttl-cmn01 {
  margin-bottom: 50px;
  color: #0d4987;
  font-weight: bold;
  font-size: 2.1rem;
  text-align: center;
}
.ttl-cmn01 .ttlin01 {
  font-size: 3rem;
}
@media only screen and (max-width: 599px) {
  .ttl-cmn01 {
    margin-bottom: 30px;
  }
}

.ttl-cmn02 {
  margin-bottom: 50px;
  color: #0d4987;
  font-weight: bold;
  font-size: 1.9rem;
  text-align: center;
}
@media only screen and (max-width: 599px) {
  .ttl-cmn02 {
    margin-bottom: 30px;
  }
}

.ttl-cmn03 {
  color: #0d4987;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.ttl-cmn01-line {
  font-size: 2rem;
  font-weight: bold;
  color: #0d4987;
  text-align: center;
}

.tac {
  text-align: center;
}

.wrapper {
  min-width: 320px;
  overflow: hidden;
}

.inner500,
.inner600,
.inner700,
.inner800,
.inner900,
.inner,
.inner1100,
.inner1200,
.inner1300,
.inner1400,
.inner1500 {
  margin-right: auto;
  margin-left: auto;
}

.inner500,
.inner600,
.inner700,
.inner800,
.inner900,
.inner {
  width: 92%;
}

.inner1100,
.inner1200,
.inner1300,
.inner1400,
.inner1500 {
  width: 98%;
}

.inner500 {
  max-width: 500px;
}

.inner600 {
  max-width: 600px;
}

.inner700 {
  max-width: 700px;
}

.inner800 {
  max-width: 800px;
}

.inner900 {
  max-width: 900px;
}

.inner {
  max-width: 1000px;
}

.inner1100 {
  max-width: 1100px;
}

.inner1200 {
  max-width: 1200px;
}

.inner1300 {
  max-width: 1300px;
}

.inner1400 {
  max-width: 1400px;
}

.inner1500 {
  max-width: 1500px;
}

@media (max-width: 1024px) {
  .inner500,
.inner600,
.inner700,
.inner800,
.inner900,
.inner,
.inner1100,
.inner1200,
.inner1300,
.inner1400,
.inner1500 {
    width: 96%;
    max-width: 768px;
  }
}
.header {
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}
.header.fixed {
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;
}
.header.overlay:after {
  opacity: 0.3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 230;
  transform: translate3d(0, 0, 0) !important;
  width: 100%;
  height: 100vh;
  background: #000000;
  content: "";
  -webkit-transform: translate3d(0, 0, 0) !important;
}
.header .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .logo a {
  padding: 10px 0;
}
.header .logo img {
  max-height: 80px;
}
.header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}
.header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .block-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 20px;
  color: #004c88;
}
.header .block-tel .tel a {
  font-weight: bold;
  font-size: 1.5rem;
}
.header .block-tel .tel a:before {
  margin-right: 5px;
  font-weight: 600;
  font-size: 1.2rem;
  font-family: "Font Awesome 5 Free";
  content: "\f879";
}
.header .block-tel .txt02 {
  font-size: 14px;
}
.header .block-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .btn.-menu, .header .btn.-kaitori a, .header .btn.-contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120px;
  padding: 10px 10px;
}
.header .btn.-kaitori a, .header .btn.-contact a {
  height: 100%;
}
.header .btn.-kaitori a:before, .header .btn.-contact a:before {
  margin-right: 5px;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Font Awesome 5 Free";
  text-align: center;
}
.header .btn.-kaitori a {
  background-color: #004c88;
}
.header .btn.-kaitori a:before {
  content: "\f573";
}
.header .btn.-contact a {
  background-color: #ffb100;
}
.header .btn.-contact a:before {
  content: "\f0e0";
}
.header .btn.-menu .label {
  color: #004c88;
}
.header .btn .label {
  color: #ffffff;
  font-weight: bold;
  font-size: 0.8rem;
}
@media only screen and (max-width: 1024px) {
  .header .block-tel {
    display: none;
  }
}
@media only screen and (max-width: 599px) {
  .header .logo img {
    max-height: 50px;
  }
  .header .btn.-kaitori,
.header .btn.-contact {
    display: none;
  }
  .header .btn.-menu {
    width: 60px;
    padding: 5px;
  }
}

.fix-bottom {
  position: fixed;
  right: 0;
  bottom: 10%;
  z-index: 240;
  display: none;
}
.fix-bottom a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5px;
  font-weight: bold;
  font-size: 1rem;
}
.fix-bottom a:before {
  margin-right: 5px;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Font Awesome 5 Free";
}
.fix-bottom .kaitori {
  background: darkblue;
  color: #ffffff;
}
.fix-bottom .kaitori a:before {
  content: "\f573";
}
.fix-bottom .contact {
  background: #ffb100;
  color: #ffffff;
}
.fix-bottom .contact a:before {
  font-weight: normal;
  content: "\f0e0";
}
.fix-bottom .tel {
  display: none;
  background: #53bf00;
  color: #ffffff;
}
.fix-bottom .tel a:before {
  font-weight: bold;
  content: "\f879";
}
@media only screen and (max-width: 599px) {
  .fix-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 0;
    width: 100%;
  }
  .fix-bottom a {
    padding: 2px;
  }
  .fix-bottom .item {
    width: 100%;
    text-align: center;
  }
  .fix-bottom .tel {
    display: block;
  }
}

/**
グローバルナビ
gnav
*/
.gnav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
  width: 100%;
  max-width: 300px;
  height: 100%;
  padding: 25px 40px;
  overflow: auto;
  border-bottom: 1px solid #d9d9d9;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: -webkit-transform ease 0.5s;
  transition: -webkit-transform ease 0.5s;
  transition: transform ease 0.5s;
  transition: transform ease 0.5s, -webkit-transform ease 0.5s;
  -webkit-overflow-scrolling: touch;
}
.gnav.action {
  z-index: 250;
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}
.gnav .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 100px;
}
.gnav .navlogo {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding-right: 40px;
  font-weight: bold;
  font-size: 20px;
}
.gnav .navlogo img {
  max-height: 40px;
}
.gnav .list01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}
.gnav .item01 {
  width: 100%;
  min-height: 40px;
  margin: 0 0 10px 0;
  font-size: 16px;
  text-align: left;
}
.gnav .item01 > a,
.gnav .item01 .itemin {
  display: block;
  padding: 5px;
  cursor: pointer;
}
.gnav .item01.-parent {
  position: relative;
}
.gnav .item01.-parent:hover .list02 {
  visibility: visible;
  opacity: 1;
}
.gnav .list02 {
  visibility: visible;
  position: relative;
  top: 0;
  left: 0;
  width: 200px;
  padding-left: 20px;
}
.gnav .list02 a {
  display: block;
  position: relative;
  padding: 2px 0 2px 20px;
}
.gnav .list02 a:before {
  display: block;
  position: absolute;
  top: 13px;
  left: 0;
  width: 10px;
  height: 1px;
  background: #000000;
  content: "";
}

/*ハンバーガーメニュー*/
.toggle {
  position: relative !important;
  z-index: 251;
  width: 42px;
  height: 42px;
  cursor: pointer;
}
.toggle .bar {
  display: block;
  position: absolute;
  top: 50%;
  left: 7px;
  width: 28px;
  height: 2px;
  margin-top: -1px;
  padding: 0;
  background: #004c88;
  text-indent: 9999px;
  transition: ease 0.4s;
  -webkit-transition: ease 0.4s;
}
.toggle .bar:before, .toggle .bar:after {
  display: block;
  position: absolute;
  left: 0;
  width: 28px;
  height: 2px;
  background: #004c88;
  content: "";
}
.toggle .bar:before {
  top: -10px;
}
.toggle .bar:after {
  top: 10px;
}
@media only screen and (max-width: 599px) {
  .toggle {
    width: 30px;
    height: 30px;
  }
  .toggle .bar {
    left: 1px;
  }
}

.toggle.active .bar {
  transform: rotate(-45deg);
  background-color: #000000;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.toggle.active .bar:after, .toggle.active .bar:before {
  top: 0;
  left: 0;
  transform: rotate(90deg);
  background-color: #000000;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

@media only screen and (max-width: 1024px) {
  .toggle {
    display: block !important;
  }
}
/*トップへ戻る*/
.totop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 200;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #004c88;
  color: #ffffff;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
.totop:before {
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  content: "\f077";
}
@media only screen and (max-width: 1024px) {
  .totop {
    right: 10px;
    bottom: 50px;
  }
}
@media only screen and (max-width: 599px) {
  .totop {
    bottom: 70px;
  }
}

.header-line {
  margin-bottom: 50px;
}
.header-line .img {
  max-height: 100px;
  margin-left: 2%;
  margin-top: 20px;
}
@media only screen and (max-width: 599px) {
  .header-line .img {
    max-height: 60px;
  }
}

/*共通コンテンツ間隔*/
.area {
  margin-top: 160px;
  margin-bottom: 160px;
}
@media only screen and (max-width: 599px) {
  .area {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.areas {
  margin-top: 100px;
  margin-bottom: 100px;
}
@media only screen and (max-width: 599px) {
  .areas {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.topvisual {
  background: center/cover no-repeat url("../images/home/bg01.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 250px;
}
.topvisual .ttl {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
@media only screen and (max-width: 599px) {
  .topvisual {
    height: 150px;
  }
}

.footer {
  padding-top: 80px;
  background-color: #0d4987;
}
.footer .txt {
  color: #ffffff;
}
.footer .logo {
  margin-top: 20px;
  display: block;
}
.footer .logo img {
  max-width: 350px;
}
.footer .copy {
  padding: 10px 0;
  background: #ffffff;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .footer .copy {
    padding-bottom: 50px;
  }
}
@media only screen and (max-width: 599px) {
  .footer {
    padding-bottom: 50px;
  }
  .footer .logo img {
    max-width: 200px;
  }
}

.fnav {
  padding: 50px 0;
}
.fnav .list01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.fnav .list01 .item {
  margin-right: 20px;
  margin-bottom: 10px;
  padding-right: 10px;
  color: #ffffff;
}
.fnav .list01 .item a {
  display: block;
  position: relative;
  padding-left: 20px;
}
.fnav .list01 .item a:before {
  position: absolute;
  left: 0;
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  content: "\f054";
}
.fnav .list02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.fnav .list02 .item {
  margin-left: 50px;
}
.fnav .datattl {
  position: relative;
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 20px;
}
.fnav .data {
  margin-bottom: 5px;
  color: #ffffff;
}
.fnav .data a {
  position: relative;
  padding-left: 20px;
}
.fnav .data a:before {
  position: absolute;
  left: 0;
  font-weight: bold;
  font-family: "Font Awesome 5 Free";
  content: "\f054";
}
@media only screen and (max-width: 1024px) {
  .fnav .wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .fnav .list01 {
    width: 100%;
    margin-bottom: 10px;
  }
  .fnav .list02 {
    width: 100%;
  }
}
@media only screen and (max-width: 599px) {
  .fnav .list01 {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
  .fnav .datawrap {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}

.footer-line {
  background-color: #0d4987;
}
.footer-line .contents {
  padding: 20px 0;
  text-align: center;
}
.footer-line .txt {
  color: #ffffff;
}
.footer-line .logo {
  margin-top: 10px;
  max-height: 100px;
}
.footer-line .copy {
  padding: 10px 0;
  background: #ffffff;
  text-align: center;
}
@media only screen and (max-width: 599px) {
  .footer-line .logo {
    max-height: 70px;
  }
}

.homevisual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 99%;
  margin: 0 auto;
}
.homevisual .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.homevisual .slick-slide {
  height: auto !important;
}
.homevisual .btn-slick {
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #0d4987;
  font-size: 30px;
  cursor: pointer;
}
.homevisual .btn-slick.btn-back {
  left: 1%;
}
.homevisual .btn-slick.btn-next {
  right: 1%;
}
.homevisual .box {
  position: relative;
  height: auto !important;
  max-height: 800px;
  overflow: hidden;
  border-radius: 20px;
}
.homevisual .box01:after,
.homevisual .box02:after {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 0;
  -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
  width: 50%;
  height: 100%;
  content: "";
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}
.homevisual .box01 {
  background: center/cover no-repeat url("../images/home/home-slide-box01-bg.png");
}
.homevisual .box01:after {
  background: #004c88;
}
.homevisual .box01 .boxin {
  position: relative;
  z-index: 1;
}
.homevisual .box01 .img01 {
  position: absolute;
  top: 0;
  left: 0;
}
.homevisual .box01 .img01 a:hover {
  opacity: 1;
}
.homevisual .box01 .img01 .img01-2 {
  display: none;
}
.homevisual .box01 .img01:hover .img01-1 {
  display: none;
}
.homevisual .box01 .img01:hover .img01-2 {
  display: block;
}
.homevisual .box01 .right {
  padding: 80px 0;
  text-align: right;
}
.homevisual .box01 .img02 {
  width: 50%;
  margin-left: auto;
}
.homevisual .box01 .img03 {
  width: 25%;
  margin-right: 10%;
  margin-left: auto;
}
.homevisual .box01 .txt {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  width: 40%;
  margin: 20px 20px 20px auto;
  text-align: left;
  text-shadow: 2px 2px #0d4987;
}
.homevisual .box02 {
  height: 100%;
}
.homevisual .box02:after {
  background: rgb(229, 248, 246);
}
.homevisual .box02 .boxin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 0 50px;
}
.homevisual .box02 .block-txt {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.homevisual .box02 .txt01 {
  font-weight: bold;
  font-size: 4vw;
}
.homevisual .box02 .maker {
  display: inline-block;
  min-width: 100px;
  max-width: 15vw;
}
.homevisual .box02 .txt02 {
  font-weight: bold;
  font-size: 1.4rem;
}
.homevisual .box02 .txt03 {
  display: inline-block;
}
.homevisual .box02 .price01 {
  display: inline-block;
}
.homevisual .box02 .price {
  color: #ad1b1b;
  font-size: 8vw;
}
.homevisual .box02 .unit {
  color: #ad1b1b;
  font-size: 4vw;
}
.homevisual .box02 .img {
  max-width: 50%;
  margin-left: 5%;
}
.homevisual .box03 {
  background: center/cover no-repeat url("../images/home/bg04.png");
}
.homevisual .box03 .boxin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 2%;
}
.homevisual .box03 .txt {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 4vw;
}
.homevisual .box03 .img {
  margin: 0 2%;
}
.homevisual .box03 .friend-link {
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  text-align: center;
}
.homevisual .box03 .friend-link a {
  display: block;
}
.homevisual .box03 .friend-link a img {
  display: inline;
}
.homevisual .box03 .qr {
  margin-bottom: 20px;
}
@media only screen and (max-width: 1024px) {
  .homevisual .box01 .img01 {
    width: 40%;
  }
  .homevisual .box01 .img02 {
    width: 60%;
  }
  .homevisual .box01 .img03 {
    width: 40%;
  }
  .homevisual .box01 .txt {
    width: 50%;
  }
  .homevisual .box02 .block-txt {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .homevisual .box02 .maker {
    width: 30%;
  }
  .homevisual .box02 .txt01 {
    font-size: 2rem;
  }
  .homevisual .box02 .price {
    font-size: 4rem;
  }
  .homevisual .box02 .unit {
    font-size: 2.5rem;
  }
  .homevisual .box02 .img {
    max-width: 30%;
  }
}
@media only screen and (max-width: 599px) {
  .homevisual .box01:after {
    top: 30%;
    left: 0;
    -webkit-transform: skewY(-10deg);
            transform: skewY(-10deg);
    width: 100%;
    height: 73%;
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  .homevisual .box01 .img01 {
    position: relative;
    width: 55%;
  }
  .homevisual .box01 .right {
    padding: 10px 0 30px;
    text-align: center;
  }
  .homevisual .box01 .img02 {
    width: 100%;
  }
  .homevisual .box01 .img03 {
    width: 70%;
    margin: 0 auto;
  }
  .homevisual .box01 .txt {
    width: 90%;
    margin: 20px auto 20px;
  }
  .homevisual .box02 .boxin {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0 20px;
  }
  .homevisual .box02 .block-txt {
    margin-left: auto;
    text-align: right;
  }
  .homevisual .box02 .maker {
    width: 40%;
  }
  .homevisual .box02 .txt01 {
    font-size: 8vw;
  }
  .homevisual .box02 .price {
    font-size: 15vw;
  }
  .homevisual .box02 .unit {
    font-size: 10vw;
  }
  .homevisual .box02 .img {
    max-width: 80%;
    margin-right: auto;
    margin-bottom: 10px;
  }
  .homevisual .box03 .boxin {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 5%;
  }
  .homevisual .box03 .txt {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 50%;
    font-size: 8vw;
  }
  .homevisual .box03 .img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    margin: 0 0 20px 0;
  }
  .homevisual .box03 .friend-link {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 50%;
  }
}

.list-home-news {
  max-width: 700px;
  margin: 0 auto;
}
.list-home-news .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.list-home-news .time,
.list-home-news .head {
  font-size: 20px;
}
.list-home-news .time {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 30px;
}
.list-home-news .head {
  overflow: hidden;
  color: #333333;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 599px) {
  .list-home-news .item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .list-home-news .time,
.list-home-news .head {
    width: 100%;
  }
}

.list-home-point .item {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.list-home-point .item:after {
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #000000;
  content: "";
}
.list-home-point .item:nth-child(even) .itemin {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.list-home-point .itemin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
  min-height: 500px;
  padding: 20px 0;
}
.list-home-point .item01 {
  background-image: url("../images/home/bg01.png");
}
.list-home-point .item01:after {
  opacity: 0.1;
}
.list-home-point .item02 {
  background-image: url("../images/home/bg02.png");
}
.list-home-point .item03 {
  background-image: url("../images/home/bg03.png");
}
.list-home-point .item03:after {
  opacity: 0;
}
.list-home-point .item03 img {
  -o-object-fit: contain;
     object-fit: contain;
}
.list-home-point .block-img,
.list-home-point .block-txt {
  width: 50%;
  padding: 0 20px;
}
.list-home-point .block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-home-point img {
  width: 80%;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
}
.list-home-point .block-txt {
  color: #ffffff;
}
.list-home-point .head {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 40px;
}
@media only screen and (max-width: 599px) {
  .list-home-point .itemin {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .list-home-point .block-img,
.list-home-point .block-txt {
    width: 100%;
    padding: 0 20px;
  }
  .list-home-point img {
    width: 100%;
  }
}

.table-kaitori-price .wrap {
  overflow: auto;
}
.table-kaitori-price .table {
  width: 100%;
  border: 1px solid #999999;
  border-collapse: collapse;
}
.table-kaitori-price .datattl01,
.table-kaitori-price .data {
  width: 20%;
  padding: 10px 20px;
  border: 1px solid #999999;
}
.table-kaitori-price .datattl01 {
  background: #eeeeee;
}
@media only screen and (max-width: 1024px) {
  .table-kaitori-price .datattl01,
.table-kaitori-price .data {
    padding: 10px;
  }
}
@media only screen and (max-width: 599px) {
  .table-kaitori-price .datattl01,
.table-kaitori-price .data {
    padding: 5px 2px;
  }
}

.slick01 {
  padding: 0 20px;
}
.slick01.slick-dotted {
  margin-bottom: 50px;
}
.slick01 .btn-slick {
  position: absolute;
  top: 50%;
  z-index: 1;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 30px;
  cursor: pointer;
}
.slick01 .btn-slick.btn-back {
  left: 0;
}
.slick01 .btn-slick.btn-next {
  right: 0;
}
.slick01 .slick-dots {
  bottom: -40px;
  left: 0;
}
.slick01 .item {
  margin: 0 30px;
}
.slick01 .img {
  width: 100%;
}
.slick01 .img img {
  width: 100%;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}
.slick01 .head {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
}
.slick01 .price {
  margin-top: 10px;
  font-weight: bold;
  font-size: 30px;
}
.slick01 .pricein {
  font-size: 16px;
}
.slick01 .btn {
  width: 100px;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #999999;
  border-radius: 30px;
  text-align: center;
}
@media only screen and (max-width: 599px) {
  .slick01 {
    padding: 0 10px;
  }
  .slick01 .btn-slick {
    font-size: 20px;
  }
}

.list-home-flow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  counter-reset: number 0;
}
.list-home-flow .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 49%;
  margin-bottom: 50px;
}
.list-home-flow .img {
  position: relative;
  width: 40%;
  height: 30vw;
  min-height: 300px;
  max-height: 400px;
  overflow: hidden;
  border-radius: 20px;
}
.list-home-flow .img:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid #0d4987;
  border-radius: 20px;
  content: "";
}
.list-home-flow .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.list-home-flow .block-txt {
  width: 60%;
  padding-right: 20px;
}
.list-home-flow .head {
  color: #0d4987;
  font-weight: bold;
  font-size: 2rem;
}
.list-home-flow .head:before {
  content: counter(number) ".";
  counter-increment: number 1;
}
.list-home-flow .txt {
  margin-top: 30px;
}
.list-home-flow .link {
  color: #0d4987;
  text-decoration: underline;
}
.list-home-flow .thumbnail {
  border: 1px solid #999;
  max-width: 200px;
}
@media only screen and (max-width: 1024px) {
  .list-home-flow .item {
    width: 100%;
  }
}
@media only screen and (max-width: 599px) {
  .list-home-flow .item {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .list-home-flow .img {
    width: 100%;
    margin-bottom: 10px;
  }
  .list-home-flow .block-txt {
    width: 100%;
    padding-right: 0;
  }
  .list-home-flow .txt {
    margin-top: 10px;
  }
}

/*よくあるご質問*/
.list-home06 {
  max-width: 1100px;
  margin: 0 auto;
}
.list-home06 .item {
  margin-bottom: 30px;
}
.list-home06 .head {
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px;
  color: #707070;
  font-weight: bold;
  font-size: 18px;
}
.list-home06 .head:before {
  position: absolute;
  left: 0;
  content: "Q.";
}
.list-home06 .data {
  position: relative;
  padding-left: 30px;
  color: #707070;
  font-size: 18px;
}
.list-home06 .data:before {
  position: absolute;
  left: 0;
  content: "A.";
}

.home-satei .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home-satei .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.home-satei .head {
  font-size: 1.25rem;
}
.home-satei select {
  min-width: 280px;
  font-size: 1.25rem;
}
.home-satei .block-button {
  margin-top: 30px;
  text-align: center;
}
.home-satei .button-satei {
  width: 190px;
  padding: 15px 50px;
  border-radius: 10px;
  background-color: #ffb100;
  color: #ffffff;
  font-weight: bold;
  font-size: 25px;
}
.home-satei .btn01 {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.home-satei .btn01in:hover .btn01-1 {
  display: none;
}
.home-satei .btn01in:hover .btn01-2 {
  display: block;
}
.home-satei .btn01-2 {
  display: none;
  position: relative;
  top: 5px;
  left: 5px;
}
.home-satei .price {
  margin-top: 30px;
  text-align: center;
}
.home-satei .txtin01 {
  margin: 0 10px;
}
.home-satei .txtin02 {
  font-size: 1.5rem;
}
.home-satei .txtin03 {
  color: red;
  font-size: 3rem;
}
.home-satei .txt {
  margin-bottom: 10px;
  margin-top: 50px;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .home-satei .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-satei .item {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 599px) {
  .home-satei .item {
    display: block;
  }
}

.home-application .txt01 {
  text-align: center;
  margin: 30px 0;
}
.home-application .block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.home-application .icon {
  background: #0d4987;
  border-radius: 50%;
  margin: 0 20px;
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-application .label {
  text-align: center;
  margin: 10px auto 0;
}

.list-home08 {
  max-width: 1100px;
  margin: 0 auto;
}
.list-home08 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #999999;
}
.list-home08 .item:first-child {
  border-top: 1px solid #999999;
}
.list-home08 .datattl {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 200px;
  padding: 10px 20px;
  background: #0d4987;
  color: #ffffff;
  font-weight: bold;
}
.list-home08 .ttlin {
  display: inline-block;
}
.list-home08 .data {
  padding: 10px;
}
@media only screen and (max-width: 599px) {
  .list-home08 .item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .list-home08 .datattl {
    width: 100%;
  }
  .list-home08 .data {
    width: 100%;
  }
}

.line-contact {
  width: 80%;
  max-width: 1100px;
  margin: 50px auto;
  padding: 50px;
  border-radius: 20px;
  background-color: #06c755;
}
.line-contact .ttl {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.6rem;
  text-align: center;
}
.line-contact .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.line-contact .img {
  width: 48%;
  text-align: center;
}
.line-contact .friend-link {
  width: 48%;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;
  text-align: center;
}
.line-contact .qr {
  margin-bottom: 20px;
}
@media only screen and (max-width: 599px) {
  .line-contact {
    width: 100%;
    padding: 20px;
  }
  .line-contact .block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .line-contact .img,
.line-contact .friend-link {
    width: 100%;
  }
  .line-contact .img {
    margin-bottom: 20px;
  }
}

.policy .list {
  margin-top: 50px;
}
.policy .item {
  margin-bottom: 30px;
}
.policy .datattl {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}/*# sourceMappingURL=style.css.map */