# 本番環境
SetEnv APP_ENV 'prod'

# ステージング
# SetEnv APP_ENV 'stag'

# 開発環境
# SetEnv APP_ENV 'dev'

# Basic認証
AuthType Basic
AuthName "Please enter your ID and password"
AuthUserFile "/home/users/1/candypop.jp-rakurakukaitori/web/test/.htpasswd"
require valid-user