// ホームビジュアル
.homevisual {
  display: flex;
  width: 99%;
  margin: 0 auto;
  .slick-track {
    display: flex;
  }
  .slick-slide {
    height: auto !important;
  }
  .slick-dots {
    bottom: -40px;
  }
  .btn-slick {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    color: $color1;
    font-size: 30px;
    cursor: pointer;
    &.btn-back {
      left: 1%;
    }
    &.btn-next {
      right: 1%;
    }
  }
  .box {
    position: relative;
    height: auto !important;
    // min-height: 300px;
    max-height: 800px;
    overflow: hidden;
    border-radius: 20px;
  }
  .box01:after,
  .box02:after {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 0;
    transform: skewX(-20deg);
    width: 50%;
    height: 100%;
    content: "";

    transform-origin: bottom;
  }
  .box01 {
    background: center / cover no-repeat url("../images/home/home-slide-box01-bg.png");
    &:after {
      background: $color2;
    }
    .boxin {
      position: relative;
      z-index: 1;
    }
    .img01 {
      position: absolute;
      top: 0;
      left: 0;
      a:hover {
        opacity: 1;
      }
      .img01-2 {
        display: none;
      }
      &:hover {
        .img01-1 {
          display: none;
        }
        .img01-2 {
          display: block;
        }
      }
    }
    .right {
      padding: 80px 0;
      text-align: right;
    }
    .img02 {
      width: 50%;
      margin-left: auto;
    }
    .img03 {
      width: 25%;
      margin-right: 10%;
      margin-left: auto;
    }
    .txt {
      color: #fff;
      font-size: 1.5rem;
      font-weight: bold;
      width: 40%;
      margin: 20px 20px 20px auto;
      text-align: left;
      text-shadow: 2px 2px $color1;
    }
  }
  .box02 {
    height: 100%;
    background-color: #fff;
    &:after {
      background: rgba(229, 248, 246, 1);
    }
    .boxin {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      height: 100%;
      padding: 0 50px;
    }
    .block-txt {
      flex-shrink: 0;
    }
    .txt01 {
      font-weight: bold;
      font-size: 4vw;
      // font-size: 4rem;
    }
    .maker {
      display: inline-block;
      min-width: 100px;
      max-width: 15vw;
      // max-width: 300px;
    }
    .txt02 {
      font-weight: bold;
      font-size: 1.4rem;
    }
    .txt03 {
      display: inline-block;
    }
    .price01 {
      display: inline-block;
    }
    .price {
      color: rgba($color: #ad1b1b, $alpha: 1.0);
      font-size: 8vw;
      // font-size: 6.5rem;
    }
    .unit {
      color: rgba($color: #ad1b1b, $alpha: 1.0);
      font-size: 4vw;
      // font-size: 3.25rem;
    }
    .img {
      max-width: 50%;
      margin-left: 5%;
    }
  }
  .box03 {
    background: center/cover no-repeat url("../images/home/bg04.png");
    .boxin {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 0 2%;
    }
    .txt {
      flex-shrink: 0;
      color: #ffffff;
      font-weight: bold;
      font-size: 4vw;
      // font-size: 3rem;
    }
    .img {
      margin: 0 2%;
    }
    .friend-link {
      padding: 20px;
      border-radius: 20px;
      background-color: #ffffff;
      text-align: center;
      a {
        display: block;
      }
      a img {
        display: inline;
      }
    }
    .qr {
      margin-bottom: 20px;
    }
  }
  @media only screen and (max-width: 1024px) {
    .box01 {
      .img01 {
        width: 40%;
      }
      .img02 {
        width: 60%;
      }
      .img03 {
        width: 40%;
      }
      .txt {
        width: 50%;
      }
    }
    .box02 {
      .block-txt {
        flex-shrink: 1;
      }
      .maker {
        width: 30%;
      }
      .txt01 {
        font-size: 2.0rem;
      }
      .price {
        font-size: 4rem;
      }
      .unit {
        font-size: 2.5rem;
      }
      .img {
        max-width: 30%;
      }
    }
  }
  @media only screen and (max-width: 599px) {
    .box01 {
      &:after {
        top: 30%;
        left: 0;
        transform: skewY(-10deg);
        width: 100%;
        height: 73%;

        transform-origin: right;
      }
      .img01 {
        position: relative;
        width: 55%;
      }
      .right {
        padding: 10px 0 30px;
        text-align: center;
      }
      .img02 {
        width: 100%;
      }
      .img03 {
        width: 70%;
        margin: 0 auto;
      }
      .txt {
        width: 90%;
        margin: 20px auto 20px;
      }
    }
    .box02 {
      .boxin {
        flex-direction: column-reverse;
        padding: 0 20px;
      }
      .block-txt {
        margin-left: auto;
        text-align: right;
      }
      .maker {
        width: 40%;
      }
      .txt01 {
        font-size: 8vw;
      }
      .price {
        font-size: 15vw;
      }
      .unit {
        font-size: 10vw;
      }
      .img {
        max-width: 80%;
        margin-right: auto;
        margin-bottom: 10px;
      }
    }
    .box03 {
      .boxin {
        flex-wrap: wrap;
        padding: 5%;
      }
      .txt {
        order: 2;
        width: 50%;
        font-size: 8vw;
      }
      .img {
        order: 1;
        width: 100%;
        margin: 0 0 20px 0;
      }
      .friend-link {
        order: 3;
        width: 50%;
      }
    }
  }
}

// お知らせ
.list-home-news {
  max-width: 700px;
  margin: 0 auto;
  .item {
    display: flex;
    margin-bottom: 10px;
  }
  .time,
  .head {
    font-size: 20px;
  }
  .time {
    flex-shrink: 0;
    margin-right: 30px;
  }
  .head {
    overflow: hidden;
    color: #333333;
    white-space: nowrap;

    text-overflow: ellipsis;
  }
  @media only screen and (max-width: 599px) {
    .item {
      flex-wrap: wrap;
    }
    .time,
    .head {
      width: 100%;
    }
  }
}

// ３つのポイント
.list-home-point {
  // counter-reset: number 0;
  .item {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &:after {
      opacity: .3;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: #000000;
      content: "";
    }
  }
  .item:nth-child(even) .itemin {
    flex-direction: row-reverse;
  }
  .itemin {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    min-height: 500px;
    padding: 20px 0;
  }
  .item01 {
    background-image: url("../images/home/bg01.png");
    &:after {
      opacity: .1;
    }
  }
  .item02 {
    background-image: url("../images/home/bg02.png");
  }
  .item03 {
    background-image: url("../images/home/bg03.png");
    &:after {
      opacity: 0;
    }
    img {
      object-fit: contain;
    }
  }
  .block-img,
  .block-txt {
    width: 50%;
    padding: 0 20px;
  }
  .block-img {
    display: flex;
    justify-content: center;
  }
  img {
    width: 80%;

    aspect-ratio: 3/2;
    object-fit: cover;
  }
  .block-txt {
    color: #ffffff;
  }
  .head {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 40px;
    // &:before {
    //   display: block;
    //   content: counter(number) ".";
    //   counter-increment: number 1;
    // }
  }
  @media only screen and (max-width: 599px) {
    .itemin {
      flex-wrap: wrap;
    }
    .block-img,
    .block-txt {
      width: 100%;
      padding: 0 20px;
    }
    img {
      width: 100%;
    }
  }
}

// 買取価格表
.table-kaitori-price {
  .wrap {
    overflow: auto;
  }
  .table {
    width: 100%;
    border: 1px solid #999999;
    border-collapse: collapse;
    background-color: #fff;
  }
  .datattl01,
  .data {
    width: 20%;
    padding: 10px 20px;
    border: 1px solid #999999;
    font-weight: bold;
  }
  .datattl01 {
    background: $color1;
    color: #fff;
    font-weight: bold;
  }
  .price-item {
    display: block;
  }
  .price {
    text-align: right;
    font-weight: bold;
    color: red;
    font-size: 1.2rem;
  }
  .engine-info {
    font-weight: normal;
    font-size: 16px;
  }
  @media only screen and (max-width: 1024px) {
    .datattl01,
    .data {
      padding: 10px;
    }
  }
  @media only screen and (max-width: 599px) {
    .datattl01,
    .data {
      padding: 5px 2px;
      font-size: 12px;
    }
    .data.-price {
      font-size: 16px;
      min-width: 80px;
    }
  }
}

// 買取事例
.slick01 {
  padding: 0 20px;
  &.slick-dotted {
    margin-bottom: 50px;
  }
  .btn-slick {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    &.btn-back {
      left: 0;
    }
    &.btn-next {
      right: 0;
    }
  }
  .slick-dots {
    bottom: -40px;
    left: 0;
  }
  .item {
    margin: 0 30px;
  }
  .block {
    padding: 5px;
  }
  .img {
    width: 100%;
  }
  .img img {
    width: 100%;

    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
  .head {
    font-weight: bold;
    font-size: 20px;
  }
  .price {
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
    color: red;
  }
  .pricein {
    font-size: 16px;
  }
  .btn {
    width: 100px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #999999;
    border-radius: 30px;
    text-align: center;
  }
  @media only screen and (max-width: 599px) {
    padding: 0 10px;
    .btn-slick {
      font-size: 20px;
    }
  }
}

// 申込みから入金までの流れ
.list-home-flow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  counter-reset: number 0;
  .item {
    width: 49%;
    margin-bottom: 50px;
  }
  .itemin {
    display: flex;
    margin-bottom: 20px;
  }
  .img {
    position: relative;
    width: 40%;
    height: 30vw;
    min-height: 300px;
    max-height: 400px;
    overflow: hidden;
    border-radius: 20px;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 5px solid $color1;
      border-radius: 20px;
      content: "";
    }
    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
  .block-txt {
    width: 60%;
    padding-right: 20px;
  }
  .head {
    color: $color1;
    font-weight: bold;
    font-size: 1.8rem;
    &:before {
      content: counter(number) ".";
      counter-increment: number 1;
    }
  }
  .txt {
    margin-top: 30px;
    font-size: 16px;
  }
  .attention {
    font-size: 14px;
  }
  .link {
    color: $color1;
    text-decoration: underline;
  }
  .thumbnail {
    border: 1px solid #999;
    max-width: 200px;
  }
  @media only screen and (max-width: 1024px) {
    .item {
      width: 100%;
    }
  }
  @media only screen and (max-width: 599px) {
    .itemin {
      flex-wrap: wrap-reverse;
    }
    .img {
      width: 100%;
      margin-bottom: 10px;
    }
    .block-txt {
      width: 100%;
      padding-right: 0;
    }
    .txt {
      margin-top: 10px;
    }
  }
}

/*よくあるご質問*/
.list-home06 {
  max-width: 1100px;
  margin: 0 auto;
  .item {
    margin-bottom: 30px;
  }
  .head {
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
    color: #707070;
    font-weight: bold;
    font-size: 18px;
    &:before {
      position: absolute;
      left: 0;
      content: "Q.";
    }
  }
  .data {
    position: relative;
    padding-left: 30px;
    color: #707070;
    font-size: 18px;
    &:before {
      position: absolute;
      left: 0;
      content: "A.";
    }
  }
}

// ラクラク査定
.home-satei {
  background: $color1;
  padding: 80px 0;
  .ttl,
  .head,
  .txt {
    color: #fff;
  }
  .list {
    display: flex;
    justify-content: space-between;
  }
  .item {
    display: flex;
  }
  .head {
    font-size: 1.25rem;
    font-weight: bold;
  }
  select {
    min-width: 280px;
    font-size: 1.25rem;
  }
  .block-button {
    margin-top: 30px;
    text-align: center;
  }
  .button-satei {
    width: 190px;
    padding: 15px 50px;
    border-radius: 10px;
    background-color: #ffb100;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
  }
  .btn01 {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .btn01in {
    &:hover {
      .btn01-1 {
        display: none;
      }
      .btn01-2 {
        display: block;
      }
    }
  }
  .btn01-2 {
    display: none;
    position: relative;
    top: 5px;
    left: 5px;
  }
  .block-price {
    margin-top: 30px;
    text-align: center;
  }
  .datalist {
    background: #fff;
    padding: 30px 50px;
    border-radius: 5px;
    max-width: 630px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .dataitem {
    margin: 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    &.-price {
      width: 100%;
      margin: 0 0 20px 0;
      display: block;
    }
  }
  .datattl {
    font-weight: bold;
  }
  .price {
    font-weight: bold;
    color: red;
    font-size: 3rem;
  }
  .price-info {
    color: red;
    display: inline-block;
  }
  .common-data {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .txt {
    margin-bottom: 10px;
    margin-top: 50px;
    text-align: center;
  }

  @media only screen and (max-width: 1024px) {
    .list {
      flex-direction: column;
      align-items: center;
    }
    .item {
      margin-bottom: 20px;
    }
  }
  @media only screen and (max-width: 599px) {
    .item {
      display: block;
    }
    .datalist {
      padding: 20px 10px;
    }
  }
}

// 買取申込
.home-application {
  .txt01 {
    text-align: center;
    margin: 30px 0;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .block-btn {
    display: flex;
    justify-content: center;
    .btn {
      margin: 0 20px;
    }
  }
  .block-img {
    display: flex;
    justify-content: center;
  }
  .item {
    margin: 0 20px;
  }
  .label {
    text-align: center;
    margin: 10px auto 0;
    color: $color1;
    font-weight: bold;
  }
  @media only screen and (max-width: 599px) {
    .block-btn {
      flex-direction: column;
      .btn {
        margin: 10px 0px;
      }
    }
    .block-img {
      flex-wrap: wrap;
    }
    .item {
      margin: 20px 0;
    }
  }
}

.list-home08 {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #fff;
  .item {
    display: flex;
    border-bottom: 1px solid #999999;
    &:first-child {
      border-top: 1px solid #999999;
    }
  }
  .datattl {
    flex-shrink: 0;
    width: 200px;
    padding: 10px 20px;
    background: $color1;
    color: #ffffff;
    font-weight: bold;
  }
  .ttlin {
    display: inline-block;
  }
  .data {
    padding: 10px;
  }
  @media only screen and (max-width: 599px) {
    .item {
      flex-wrap: wrap;
    }
    .datattl {
      width: 100%;
    }
    .data {
      width: 100%;
    }
  }
}

// 買取・見積り申込
.line-contact {
  width: 80%;
  max-width: 1100px;
  margin: 50px auto;
  padding: 50px;
  border-radius: 20px;
  background-color: #06c755;
  .ttl {
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
  }
  .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .img {
    width: 48%;
    text-align: center;
  }
  .friend-link {
    width: 48%;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    text-align: center;
  }
  .qr {
    margin-bottom: 20px;
  }
  @media only screen and (max-width: 599px) {
    width: 100%;
    padding: 20px;
    .block {
      flex-wrap: wrap;
    }
    .img,
    .friend-link {
      width: 100%;
    }
    .img {
      margin-bottom: 20px;
    }
  }
}