// ホームビジュアル
.homevisual {
  display: flex;
  width: 99%;
  margin: 0 auto;
  .slick-track {
    display: flex;
  }
  .slick-slide {
    height: auto !important;
  }
  .box {
    position: relative;
    height: auto !important;
    // min-height: 300px;
    max-height: 700px;
    overflow: hidden;
    border-radius: 20px;
    &:after {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 0;
      transform: skewX(-20deg);
      width: 50%;
      height: 100%;
      content: "";

      transform-origin: bottom;
    }
  }
  .box01 {
    background: center / cover no-repeat url("../images/home/home-slide-box01-bg.png");
    &:after {
      background: rgba(61, 76, 106, 1);
    }
    .boxin {
      position: relative;
      z-index: 1;
    }
    .img01 {
      position: absolute;
      top: 0;
      left: 0;
    }
    .right {
      padding: 80px 0;
      text-align: right;
    }
    .img02 {
      width: 50%;
      margin-left: auto;
    }
    .img03 {
      width: 25%;
      margin-right: 10%;
      margin-left: auto;
    }
  }
  .box02 {
    height: 100%;
    &:after {
      background: rgba(229, 248, 246, 1);
    }
    .boxin {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      height: 100%;
    }
    .block-txt {
      flex-shrink: 0;
    }
    .txt01 {
      font-weight: bold;
      font-size: 4rem;
    }
    .maker {
      display: inline-block;
      width: 50%;
    }
    .txt02 {
      font-weight: bold;
      font-size: 1.4rem;
    }
    .price {
      color: rgba($color: #ad1b1b, $alpha: 1.0);
      font-size: 6.5rem;
    }
    .unit {
      color: rgba($color: #ad1b1b, $alpha: 1.0);
      font-size: 3.25rem;
    }
    .img {
      max-width: 50%;
    }
  }
  @media only screen and (max-width: 1024px) {
    .box01 {
      .img01 {
        width: 40%;
      }
      .img02 {
        width: 60%;
      }
      .img03 {
        width: 40%;
      }
    }
    .box02 {
      .block-txt {
        flex-shrink: 1;
      }
      .maker {
        width: 30%;
      }
      .txt01 {
        font-size: 2.0rem;
      }
      .price {
        font-size: 4rem;
      }
      .unit {
        font-size: 2.5rem;
      }
      .img {
        max-width: 30%;
      }
    }
  }
  @media only screen and (max-width: 599px) {
    .box01 {
      &:after {
        top: 30%;
        left: 0;
        transform: skewY(-10deg);
        width: 100%;
        height: 73%;

        transform-origin: right;
      }
      .img01 {
        position: relative;
        width: 55%;
      }
      .right {
        padding: 10px 0 30px;
        text-align: center;
      }
      .img02 {
        width: 100%;
      }
      .img03 {
        width: 70%;
        margin: 0 auto;
      }
    }
    .box02 {
      .boxin {
        flex-direction: column-reverse;
      }
      .block-txt {
        margin-left: auto;
        text-align: right;
      }
      .maker {
        width: 40%;
      }
      .txt01 {
        font-size: 8vw;
      }
      .price {
        font-size: 15vw;
      }
      .unit {
        font-size: 10vw;
      }
      .img {
        max-width: 80%;
        margin-right: auto;
        margin-bottom: 10px;
      }
    }
  }
}

// お知らせ
.list-home-news {
  max-width: 700px;
  margin: 0 auto;
  .item {
    display: flex;
    margin-bottom: 10px;
  }
  .time,
  .head {
    font-size: 20px;
  }
  .time {
    flex-shrink: 0;
    margin-right: 30px;
  }
  .head {
    overflow: hidden;
    color: #333333;
    white-space: nowrap;

    text-overflow: ellipsis;
  }
  @media only screen and (max-width: 599px) {
    .item {
      flex-wrap: wrap;
    }
    .time,
    .head {
      width: 100%;
    }
  }
}

// ３つのポイント
.list-home-point {
  counter-reset: number 0;
  .item {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &:after {
      opacity: .3;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background-color: #000000;
      content: "";
    }
  }
  .item:nth-child(even) .itemin {
    flex-direction: row-reverse;
  }
  .itemin {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    min-height: 500px;
    padding: 20px 0;
  }
  .item01 {
    background-image: url("../images/home/bg01.png");
    &:after {
      opacity: .1;
    }
  }
  .item02 {
    background-image: url("../images/home/bg02.png");
  }
  .item03 {
    background-image: url("../images/home/bg03.png");
    &:after {
      opacity: 0;
    }
    img {
      object-fit: contain;
    }
  }
  .block-img,
  .block-txt {
    width: 50%;
    padding: 0 20px;
  }
  .block-img {
    display: flex;
    justify-content: center;
  }
  img {
    width: 80%;

    aspect-ratio: 3/2;
    object-fit: cover;
  }
  .block-txt {
    color: #ffffff;
  }
  .head {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 40px;
    &:before {
      display: block;
      content: counter(number) ".";
      counter-increment: number 1;
    }
  }
  @media only screen and (max-width: 599px) {
    .itemin {
      flex-wrap: wrap;
    }
    .block-img,
    .block-txt {
      width: 100%;
      padding: 0 20px;
    }
    img {
      width: 100%;
    }
  }
}

// 買取価格表
.table-kaitori-price {
  .wrap {
    overflow: auto;
  }
  .table {
    width: 100%;
    min-width: 600px;
    border: 1px solid #999999;
    border-collapse: collapse;
  }
  .datattl01,
  .data {
    width: 20%;
    padding: 10px 20px;
    border: 1px solid #999999;
  }
  .datattl01 {
    background: #eeeeee;
  }
}

// 買取事例
.slick01 {
  padding: 0 20px;
  &.slick-dotted {
    margin-bottom: 50px;
  }
  .btn-slick {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    &.btn-back {
      left: 0;
    }
    &.btn-next {
      right: 0;
    }
  }
  .slick-dots {
    bottom: -40px;
    left: 0;
  }
  .img img {
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }
  .head {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
  }
  .price {
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
  }
  .pricein {
    font-size: 16px;
  }
  .btn {
    width: 100px;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #999999;
    border-radius: 30px;
    text-align: center;
  }
  @media only screen and (max-width: 599px) {
    padding: 0 10px;
    .btn-slick {
      font-size: 20px;
    }
  }
}

// 申込みから入金までの流れ
.list-home-flow {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  counter-reset: number 0;
  .item {
    display: flex;
    width: 49%;
    margin-bottom: 50px;
  }
  .img {
    position: relative;
    width: 40%;
    height: 30vw;
    min-height: 300px;
    max-height: 400px;
    overflow: hidden;
    border-radius: 20px;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 5px solid $color1;
      border-radius: 20px;
      content: "";
    }
    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
  .block-txt {
    width: 60%;
    padding-right: 20px;
  }
  .head {
    color: $color1;
    font-weight: bold;
    font-size: 2rem;
    &:before {
      content: counter(number) ".";
      counter-increment: number 1;
    }
  }
  .txt {
    margin-top: 30px;
  }
  .link {
    color: $color1;
    text-decoration: underline;
  }
  @media only screen and (max-width: 1024px) {
    .item {
      width: 100%;
    }
  }
  @media only screen and (max-width: 599px) {
    .item {
      flex-wrap: wrap-reverse;
    }
    .img {
      width: 100%;
      margin-bottom: 10px;
    }
    .block-txt {
      width: 100%;
      padding-right: 0;
    }
    .txt {
      margin-top: 10px;
    }
  }
}

/*よくあるご質問*/
.list-home06 {
  max-width: 1100px;
  margin: 0 auto;
  .item {
    margin-bottom: 30px;
  }
  .head {
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
    color: #707070;
    font-weight: bold;
    font-size: 18px;
    &:before {
      position: absolute;
      left: 0;
      content: "Q.";
    }
  }
  .data {
    position: relative;
    padding-left: 30px;
    color: #707070;
    font-size: 18px;
    &:before {
      position: absolute;
      left: 0;
      content: "A.";
    }
  }
}

.list-home08 {
  max-width: 1100px;
  margin: 0 auto;
  .item {
    display: flex;
    border-bottom: 1px solid #999999;
    &:first-child {
      border-top: 1px solid #999999;
    }
  }
  .datattl {
    flex-shrink: 0;
    width: 200px;
    padding: 10px 20px;
    background: $color1;
    color: #ffffff;
    font-weight: bold;
  }
  .ttlin {
    display: inline-block;
  }
  .data {
    padding: 10px;
  }
  @media only screen and (max-width: 599px) {
    .item {
      flex-wrap: wrap;
    }
    .datattl {
      width: 100%;
    }
    .data {
      width: 100%;
    }
  }
}

/*フォーム*/
.line-contact {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto 50px;
  padding: 50px;
  border-radius: 20px;
  background-color: #06c755;
  .ttl {
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
  }
  .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .block-txt {
    width: 48%;
  }
  .block-img {
    display: flex;
  }
  .img:first-child {
    margin-right: 20px;
  }
  .friend-link {
    width: 48%;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    text-align: center;
  }
  .qr {
    margin-bottom: 20px;
  }
  @media only screen and (max-width: 599px) {
    width: 100%;
    padding: 20px;
    .block {
      flex-wrap: wrap;
    }
    .block-txt,
    .friend-link {
      width: 100%;
    }
    .block-txt {
      margin-bottom: 20px;
    }
  }
}

/*フォームブロック*/
.block-form {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}

/*フォームタブ*/
.tab-label {
  display: block;
  order: -1;
  float: left;
  width: 50%;
  height: 50px;
  margin-bottom: 50px;
  background-color: #e6e6e6;
  font-weight: bold;
  font-size: 15px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
}

.tab-input {
  display: none;

  &:checked + .form {
    background-color: cadetblue;
    color: aliceblue;
  }

  &:checked + .tab-label {
    background: $color1;
    color: #ffffff;
  }

  &:checked + .tab-label + .form {
    display: block;
  }
}

/*フォーム*/
.form {
  display: none;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  .block {
    margin-bottom: 50px;
  }
  .item01 {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 0;
  }
  .list02 {
    display: flex;
    justify-content: space-between;
  }
  .item02 {
    display: flex;
    width: 49%;
    padding: 5px 0;
  }
  .datattl {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: flex-start;
    width: 210px;
    padding-top: 5px;
    color: $color1;
    font-weight: bold;
    font-size: 20px;
  }
  .ttlin {
    display: inline-block;
  }
  .require {
    display: inline-block;
    flex-shrink: 0;
    margin-top: 5px;
    margin-left: 10px;
    padding: 0 4px;
    background: $color1;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.6em;
  }
  .head {
    color: $color1;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid rgba(13, 73, 135, 30);
    box-sizing: border-box;
    &.-middle {
      max-width: 300px;
    }
    &.-short {
      max-width: 150px;
    }
  }
  .data {
    width: 100%;
    padding-left: 30px;
    input[type="number"] {
      width: 70px;
      margin-right: 10px;
    }
    textarea {
      width: 100%;
      height: 170px;
      padding: 5px;
      border: 1px solid #999999;
      box-sizing: border-box;
      color: inherit;
      font-size: inherit;
      font-family: inherit;
    }
    input:invalid {
      border: 2px solid rgba(13, 73, 135, 30);
    }
    input[type="radio"] {
      display: none;
    }

    input[type="radio"] + label {
      position: relative;
      margin-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;
      line-height: 200%;
    }

    input[type="radio"] + label::before {
      display: block;
      position: absolute;
      top: 4px;
      left: 0;
      width: 10px;
      height: 10px;
      border: 1px solid #303841;
      border-radius: 50%;
      box-shadow: inset 1px 1px 0 1px #999999;
      background: #ffffff;
      content: "";
    }

    input[type="radio"]:checked + label::after {
      display: block;
      position: absolute;
      top: 7px;
      left: 3px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #303841;
      content: "";
    }

    input[type="radio"]:checked + label {
      transition: .6s;
    }
  }
  .data01 div {
    display: inline-block;
  }
  .block-btn {
    display: flex;
    justify-content: center;
  }
  .btn {
    width: 200px;
    margin: 10px 20px;
    text-align: center;
    transition: .3s all ease;

    button:hover {
      opacity: .6;
      cursor: pointer;
    }
  }
  .item03 {
    display: flex;
  }
  .list04 {
    width: 100%;
    padding-left: 50px;
  }
  .item04 {
    display: flex;
    justify-content: start;
  }
  .datattl04 {
    color: $color1;
    font-weight: bold;
    font-size: 20px;
    width: 220px;
    padding-top: 5px;
  }
  .data04 {
    width: 100%;
    input[type="number"] {
      width: 70px;
      margin-right: 10px;
    }
    textarea {
      width: 100%;
      height: 60px;
      padding: 5px;
      border: 1px solid #999999;
      box-sizing: border-box;
      color: inherit;
      font-size: inherit;
      font-family: inherit;
    }
    input:invalid {
      border: 2px solid rgba(13, 73, 135, 30);
    }
  }
  @media only screen and (max-width: 1024px) {
    .item01 {
      flex-wrap: wrap;
    }
    .item02 {
      flex-wrap: wrap;
    }
    .datattl {
      display: block;
      margin-bottom: 10px;
    }
    .data {
      padding-left: 0;
    }
    .item03 {
      flex-wrap: wrap;
    }
    .list04 {
      padding-left: 0;
    }
  }
  @media only screen and (max-width: 599px) {
    .list02 {
      flex-wrap: wrap;
    }
    .item02 {
      width: 100%;
    }
  }
}

// ラクラク査定
.home-satei {
  .list {
    display: flex;
    justify-content: space-between;
  }
  .item {
    display: flex;
  }
  .head {
    font-size: 1.25rem;
  }
  select {
    min-width: 280px;
    font-size: 1.25rem;
  }
  .block-button {
    margin-top: 30px;
    text-align: center;
  }
  .button-satei {
    width: 100px;
    font-size: 25px;
  }
  .price {
    margin-top: 30px;
    text-align: center;
  }
  .txtin01 {
    margin: 0 10px;
  }
  .txtin02 {
    font-size: 1.5rem;
  }
  .txtin03 {
    color: red;
    font-size: 2rem;
  }

  @media only screen and (max-width: 1024px) {
    .list {
      flex-direction: column;
      align-items: center;
    }
    .item {
      margin-bottom: 20px;
    }
  }
  @media only screen and (max-width: 599px) {
    .item {
      display: block;
    }
  }
}