// ヘッダー
.header {
  margin-bottom: 10px;
  background-color: rgba( #F7F7F7, .9);
  &.fixed {
    position: fixed;
    top: 0;
    z-index: 200;
    width: 100%;
  }
  &.overlay:after {
    opacity: .3;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 230;
            transform: translate3d(0, 0, 0) !important;
    width: 100%;
    height: 100vh;
    background: #000000;
    content: "";

    -webkit-transform: translate3d(0, 0, 0) !important;
  }
  .contents {
    display: flex;
    justify-content: space-between;
    // height: 100px;
  }
  .logo {
    display: flex;
    a {
      padding: 10px 0;
    }
    img {
      max-height: 50px;
    }
  }
  .left {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
  }
  .right {
    display: flex;
  }
  .block-tel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 20px;
    color: $color2;
    .tel {
      a {
        font-weight: bold;
        font-size: 1.5rem;
      }
      a:before {
        margin-right: 5px;
        font-weight: 600;
        font-size: 1.2rem;
        font-family: "Font Awesome 5 Free";
        content: "\f879";
      }
    }
    .txt02 {
      font-size: 14px;
    }
  }
  .block-btn {
    display: flex;
  }
  .btn {
    &.-menu,
    &.-kaitori a,
    &.-contact a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 120px;
      padding: 10px 10px;
    }
    &.-kaitori a,
    &.-contact a {
      height: 100%;
      &:before {
        margin-right: 5px;
        font-weight: bold;
        font-size: 1.2rem;
        font-family: "Font Awesome 5 Free";
        text-align: center;
      }
    }
    &.-kaitori {
      a {
        background-color: $color2;
      }
      a:before {
        content: "\f573";
      }
    }
    &.-contact {
      a {
        background-color: #2ccf9d;
      }
      a:before {
        content: "\f0e0";
      }
    }
    &.-menu .label {
      color: $color2;
    }
    .label {
      color: #ffffff;
      font-weight: bold;
      font-size: .8rem;
    }
  }
  @media only screen and (max-width: 1024px) {
    .left {
      padding-left: 10px;
    }
    .block-tel {
      display: none;
    }
  }
  @media only screen and (max-width: 599px) {
    .logo img {
      max-height: 40px;
    }
    .btn.-kaitori,　
    .btn.-contact {
      display: none;
    }
    .btn.-menu {
      width: 60px;
      padding: 5px;
    }
  }
}

// 下部固定コンテンツ
.fix-bottom {
  position: fixed;
  right: 0;
  bottom: 10%;
  z-index: 240;
  display: none;
  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
    font-weight: bold;
    font-size: 1rem;
    &:before {
      margin-right: 5px;
      font-weight: 600;
      font-size: 1.5rem;
      font-family: "Font Awesome 5 Free";
    }
  }
  .kaitori {
    background: darkblue;
    color: #ffffff;
    a:before {
      content: "\f573";
    }
  }
  .contact {
    background: #2ccf9d;
    color: #ffffff;
    a:before {
      font-weight: normal;
      content: "\f0e0";
    }
  }
  .tel {
    display: none;
    background: #53bf00;
    color: #ffffff;
    a:before {
      font-weight: bold;
      content: "\f879";
    }
  }
  @media only screen and (max-width: 599px) {
    display: flex;
    bottom: 0;
    width: 100%;
    a {
      padding: 2px;
    }
    .item {
      width: 100%;
      text-align: center;
    }
    .tel {
      display: block;
    }
  }
}

/**
グローバルナビ
gnav
*/
.gnav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transform: translate3d(100%, 0, 0);
  width: 100%;
  max-width: 300px;
  height: 100%;
  padding: 25px 40px;
  overflow: auto;
  border-bottom: 1px solid #d9d9d9;
  background: rgba(255, 255, 255, .9);
  transition: transform ease .5s;
  -webkit-overflow-scrolling: touch;
  &.action {
    z-index: 250;
    transform: translate3d(0%, 0, 0);
  }
  .wrap {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
  }
  .navlogo {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding-right: 40px;
    font-weight: bold;
    font-size: 20px;
    img {
      max-height: 40px;
    }
  }
  .list01 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  .item01 {
    width: 100%;
    min-height: 40px;
    margin: 0 0 10px 0;
    font-size: 16px;
    text-align: left;
    > a,
    .itemin {
      display: block;
      padding: 5px;
      cursor: pointer;
    }
  }
  .item01.-parent {
    position: relative;
    &:hover {
      .list02 {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .list02 {
    visibility: visible;
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    padding-left: 20px;
    a {
      display: block;
      position: relative;
      padding: 2px 0 2px 20px;
    }
    a:before {
      display: block;
      position: absolute;
      top: 13px;
      left: 0;
      width: 10px;
      height: 1px;
      background: #000000;
      content: "";
    }
  }
}

/*ハンバーガーメニュー*/
.toggle {
  position: relative !important;
  z-index: 251;
  width: 42px;
  height: 42px;
  cursor: pointer;
  .bar {
    display: block;
    position: absolute;
    top: 50%;
    left: 7px;
    width: 28px;
    height: 2px;
    margin-top: -1px;
    padding: 0;
    background: $color2;
    text-indent: 9999px;
            transition: ease .4s;

    -webkit-transition: ease .4s;
    &:before,
    &:after {
      display: block;
      position: absolute;
      left: 0;
      width: 28px;
      height: 2px;
      background: $color2;
      content: "";
    }
    &:before {
      top: -10px;
    }
    &:after {
      top: 10px;
    }
  }
  @media only screen and (max-width: 599px) {
    width: 30px;
    height: 30px;
    .bar {
      left: 1px;
    }
  }
}

.toggle.active .bar {
          transform: rotate(-45deg);
  background-color: #000000;

  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
  &:after,
  &:before {
    top: 0;
    left: 0;
            transform: rotate(90deg);
    background-color: #000000;

    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
  }
}

@media only screen and (max-width: 1024px) {
  .toggle {
    display: block !important;
  }
}

// .overlay:after {
//   opacity: .3;
//   position: fixed;
//   top: 0;
//   left: 0;
//   z-index: 230;
//           transform: translate3d(0, 0, 0) !important;
//   width: 100%;
//   height: 100vh;
//   background: #000000;
//   content: "";

//   -webkit-transform: translate3d(0, 0, 0) !important;
// }

/*トップへ戻る*/
.totop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 200;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $color2;
  color: #ffffff;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  &:before {
    font-weight: bold;
    font-family: "Font Awesome 5 Free";
    content: "\f077";
  }
  @media only screen and (max-width: 1024px) {
    right: 10px;
    bottom: 50px;
  }
  @media only screen and (max-width: 599px) {
    bottom: 70px;
  }
}

// line用ヘッダー
.header-line {
  margin-bottom: 50px;
  .img {
    max-height: 100px;
    margin-left: 2%;
    margin-top: 20px;
  }
  @media only screen and (max-width: 599px) {
    .img {
      max-height: 60px;
    }
  }
}