/*フォーム*/
.form {
  // display: none;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  .block {
    margin-bottom: 50px;
  }
  .item01 {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 0;
  }
  .list02 {
    display: flex;
    justify-content: space-between;
  }
  .item02 {
    display: flex;
    width: 49%;
    padding: 5px 0;
  }
  .datattl {
    display: flex;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: flex-start;
    width: 210px;
    padding-top: 5px;
    color: $color1;
    font-weight: bold;
    font-size: 20px;
  }
  .ttlin {
    display: inline-block;
  }
  .require {
    display: inline-block;
    flex-shrink: 0;
    margin-top: 5px;
    margin-left: 10px;
    padding: 0 4px;
    background: $color1;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.6em;
  }
  .head {
    color: $color1;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid rgba(13, 73, 135, 30);
    box-sizing: border-box;
    &.-middle {
      max-width: 300px;
    }
    &.-short {
      max-width: 150px;
    }
  }
  .file {
    width: 100%;
    max-width: 500px;
  }
  .data {
    width: 100%;
    padding-left: 30px;
    input[type="number"] {
      width: 70px;
      margin-right: 10px;
    }
    textarea {
      width: 100%;
      height: 170px;
      padding: 5px;
      border: 1px solid #999999;
      box-sizing: border-box;
      color: inherit;
      font-size: inherit;
      font-family: inherit;
    }
    input:invalid {
      border: 2px solid rgba(13, 73, 135, 30);
    }
    input[type="radio"] {
      display: none;
    }

    input[type="radio"] + label {
      position: relative;
      margin-right: 20px;
      padding-left: 20px;
      box-sizing: border-box;
      line-height: 200%;
    }

    input[type="radio"] + label::before {
      display: block;
      position: absolute;
      top: 4px;
      left: 0;
      width: 10px;
      height: 10px;
      border: 1px solid #303841;
      border-radius: 50%;
      box-shadow: inset 1px 1px 0 1px #999999;
      background: #ffffff;
      content: "";
    }

    input[type="radio"]:checked + label::after {
      display: block;
      position: absolute;
      top: 7px;
      left: 3px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #303841;
      content: "";
    }

    input[type="radio"]:checked + label {
      transition: .6s;
    }
  }
  .data01 div {
    display: inline-block;
  }
  .block-btn {
    display: flex;
    justify-content: center;
  }
  .btn {
    width: 200px;
    margin: 10px 20px;
    text-align: center;
    transition: .3s all ease;

    button:hover {
      opacity: .6;
      cursor: pointer;
    }
  }
  .item03 {
    display: flex;
    margin-bottom: 30px;
  }
  .list04 {
    width: 100%;
    padding-left: 50px;
  }
  .item04 {
    display: flex;
    justify-content: start;
  }
  .datattl04 {
    color: $color1;
    font-weight: bold;
    font-size: 20px;
    width: 220px;
    padding-top: 5px;
  }
  .data04 {
    width: 100%;
    input[type="number"] {
      width: 70px;
      margin-right: 10px;
    }
    textarea {
      width: 100%;
      height: 60px;
      padding: 5px;
      border: 1px solid #999999;
      box-sizing: border-box;
      color: inherit;
      font-size: inherit;
      font-family: inherit;
    }
    input:invalid {
      border: 2px solid rgba(13, 73, 135, 30);
    }
  }
  .block-img {
    display: flex;
  }
  .txt {
    margin: 10px 10px 0 10px;
  }
  .img {
    position: relative;
    width: 200px;
    margin: 10px;
    &:after {
      position: absolute;
      bottom: 0;
      right: 10px;
      font-weight: bold;
      font-size: 1.2rem;
      text-shadow: 1px 1px #000;
    }
    &.-good:after {
      content: 'OK';
      color: greenyellow;
    }
    &.-bad:after {
      content: 'BAD';
      color: red;
    }
    &.-large {
      width: auto;
    }
  }
  @media only screen and (max-width: 1024px) {
    .item01 {
      flex-wrap: wrap;
    }
    .item02 {
      flex-wrap: wrap;
    }
    .datattl {
      display: block;
      margin-bottom: 10px;
      width: 100%;
    }
    .data {
      padding-left: 0;
    }
    .item03 {
      flex-wrap: wrap;
    }
    .list04 {
      padding-left: 0;
    }
  }
  @media only screen and (max-width: 599px) {
    .list02 {
      flex-wrap: wrap;
    }
    .item02 {
      width: 100%;
    }
  }
}

// フォーム確認
.list-form-confirm {
  margin-bottom: 50px;
  .head {
    font-size: 1.1rem;
    color: $color1;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .item {
    display: flex;
    margin-bottom: 5px;
  }
  .datattl {
    width: 220px;
    background-color: $color1;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    margin-right: 10px;
    flex-shrink: 0;
  }
  .data {
    padding: 5px;
    width: 100%;
    background-color: #eee;
  }
  .pic {
    max-height: 500px;
  }
  @media only screen and (max-width: 599px) {
    .item {
      flex-wrap: wrap;
    }
    .datattl {
      width: 100%;
    }
  }
}